from .base import *  # noqa

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "DB_NAME",
        "USER": "postgres",
        "PASSWORD": "postgres",
        "HOST": "127.0.0.1",
        "PORT": "5432",
        "ATOMIC_REQUESTS": True,
    }
}

LOGGING = {}

# https://django-extensions.readthedocs.io/en/latest/installation_instructions.html#configuration

SECRET_KEY = "SECRET_KEY"
ALLOWED_HOSTS = ["*"]
DEBUG = True
logging = {}

SPECTACULAR_SETTINGS["SWAGGER_UI_SETTINGS"]["persistAuthorization"] = True
